<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>NewsAgg
    </title>
</head>
<body>
    <div class="navbar">
        <div class="nav-flex">
            <a href="/auth/login" method = "get">Login</a>
            <a href="/auth/signup" method = "get">Signup</a>
            <a href="/home" method = "get">Home</a>
            <a href="/auth/logout" method = "get">Logout</a>
        </div>
    </div>
</body>
</html>