<%- include('./partials/header.ejs') %>
<body>
    <div class="navbar">
        <div class="nav-flex">
            <a href="/explore" method = "get">explore</a>
            <a href="/feed" method = "get">feed</a>
            <a href="/home" method = "get">home</a>
            <a href="/profile" method = "get">profile</a>
            <a href="/story" method = "get">story</a>
        </div>
    </div>
</body>